/*background: linear-gradient(to bottom, black, #000080); Degradê do preto para o azul marinho */

/* body {
    background: linear-gradient(black, #000080);
    margin: 0;
    height: 100vh;
} */

#form-pergunta {
    margin-top: 5vh;
}
